################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj
/Agni/.vs
/packages
/sitedata
/.vs/IndiaBobbles2
